* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}

.slideshow{
  
  position: relative;

}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: gold;
  font-size: 45px;
  padding: 8px 12px;
  position: absolute;
  bottom: 200px;
  width: 100%;
  text-align: center;
  font-family:impact;
  
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position:relative;
  filter:opacity(0.7);
  
}

.active, .dot:hover {
  background-color: cyan;
}


.lanjut {
	width:190;
	height:40;
	bottom:130;
	font-weight:bold;
	filter:opacity(0.7);
	border:2px solid white;
	
}

.lanjut:hover {
	
	filter:opacity(1.0);
	border:2px solid white;
}